<div class="container">
  <h3 class="d-flex justify-content-center">Xuan-前後端分離-2022/06/27</h3>
  <h5 class="d-flex justify-content-center">員工管理介面</h5>
  <h5 class="d-flex justify-content-center">
    現在時間 : {{ dateTime | date: "yyyy/MM/dd HH:mm:ss" }}
  </h5>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button
          routerLink="department"
          class="m-1 btn btn-light btn-outline-primary"
          Button
        >
          部門
        </button>
        <button
          routerLink="employee"
          class="m-1 btn btn-light btn-outline-primary"
          Button
        >
          員工
        </button>
      </li>
    </ul>
  </nav>
  <!-- Angular Route機制 -->
  <router-outlet></router-outlet>
</div>
